.img {
    position: fixed;
    top: 0;
    left: 0; 
    filter: blur(5px);
    z-index: -1;
}

.home {
    position: relative;
    z-index: 1;
    padding: 50px;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(5px);
}
