*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  min-height: 100%;
  position: relative;
} 
body {
  font-family: sans-serif;
  background: #081152;
  color: white;
  padding: 1rem;
}
nav ul {
  display: flex;
  list-style: none;
  gap: 1rem;
}